<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ExternalApps/src/es/uned/us/model_elements/PackageElements.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="es.uned.us.model_elements.PackageElements"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ExternalApps"/>
</launchConfiguration>
